/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
	font-size: 2.0em;
	font-family: 'Courier New', Courier, monospace;
	/*font-family: 'Times New Roman', Times, serif; */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 50px;
}

.about_us {
    background-color: #f4f4f4;
	text-align: center;

}

.about_us h2 {
    color: #333;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}